<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../styles/main.min.css")
    body
        header.header.book_header
            .container
                nav.header_nav
                    .logo
                        img(src="../images/logo.webp" alt="")
                    ul.header_nav_list
                        li
                            a.header_list_link(href="../index.html") Home
                        li
                            a.header_list_link.active(href="book.html") Book
                        li 
                            a.header_list_link(href="contact.html") Contact
                        li
                            a.header_list_link(href="about.html") About
        main.book_main
            form.book_form(action="")
                h1.book_title Welcome to the booking page!
                p.book_text Kindly provide necessary informations by attending to the questions below.
                section.book_options
                    h1.options_title What you booking for? 
                    p.options_text (you can select multiple options)
                    .options_items
                        -var options = ['Engagement', 'Business event', 'Wedding', 'Birthday', 'Maternity', 'Graduation', 'Product','Honeymoon','Fashion','Anniversary','Food','Conference','Team and workspace','Personal Potrait','Family','Travel shoot','Baby','Others']
                            each i in options
                                .checkbox_div
                                    input(type="checkbox" id=`${i}` class="checkbox")
                                    label(for=`${i}` class="checkbox_text")=i
                section.book_date
                    h1.date_title When and where is the photoshoot?
                    .date_inputs
                        input(type="date" id="date" placeholder="Select date")
                        input(type="time" id="time" placeholder="Select time")
                        input(type="text" id="address" placeholder="Enter the location address")
                section.book_packages
                    h1.packages_title Select your preffered package
                    .packages_items
                        .packages_item
                            h1.packages_item-title Basic
                            .price 
                                img(src="../images/currency.webp" alt="")
                                |30,000
                            .packages_text 1 hour shoot
                            .packages_text Unlimited photos
                            .packages_text Editing included
                            a(href="#!" class="select_btn") Select
                        .packages_item
                            h1.packages_item-title Standard
                            .price 
                                img(src="../images/currency.webp" alt="")
                                |50,000
                            .packages_text 1 hour shoot
                            .packages_text Unlimited photos
                            .packages_text Editing included
                            a(href="#!" class="select_btn") Select
                        .packages_item
                            h1.packages_item-title Premium
                            .price 
                                img(src="../images/currency.webp" alt="")
                                |80,000
                            .packages_text 1 hour shoot
                            .packages_text Unlimited photos
                            .packages_text Editing included
                            a(href="#!" class="select_btn") Select
                section.book_date
                    h1.date_title Kindly provide your contact details
                    .date_inputs
                        input(type="text" id="name" placeholder="Enter full name")
                        input(type="number" id="phone" placeholder="Enter phone number" min="0")
                        input(type="email" id="email" placeholder="Enter email address")
                .book_btns
                    a.book_btn(href="#!" id="book_now") Book now
                    a.book_btn.bookLater_btn(href="#!") Save and book later
        script(type="text/javascript").
            var orders = document.querySelectorAll('.select_btn');
            for(let i=0;i<orders.length;i++){
                orders[i].addEventListener('click',()=>{
                    for(let j=0;j<orders.length;j++){
                        if(orders[j].classList.contains('clicked')){
                            orders[j].classList.remove('clicked');
                        }
                    }
                    orders[i].classList.add('clicked');
                    
                })
            }
            document.querySelector('#book_now').addEventListener('click', (e) => {

                var name = document.querySelector('#name').value;
                var phone = document.querySelector('#phone').value;
                var email = document.querySelector('#email').value;
                var checked = document.querySelectorAll('.checkbox:checked~.checkbox_text');
                console.log(checked);
                var bookings =[];
                for(let i=0;i<checked.length;i++){
                    bookings.push(checked[i].innerText);
                }
                var date = document.querySelector('#date').value;
                var time = document.querySelector('#time').value;
                var address = document.querySelector('#address').value;
                var orderType = document.querySelector('.clicked');
                console.log(orderType);
                fetch(`https://api.telegram.org/bot1590540671:AAGFRSr8EGztvqNU00l99TvHZGKRwVohFUM/sendMessage?chat_id=602418307_mode=html&text=${name} ${phone} ${email}`);

            })




